<h6><a href='/countries'>all countries</a><<
  <% if @city.visit_status == 0 %>
    <a href ='/cities/<%= @city.country_id %>/view'>back to <%= @city.country.name %></a>
  <% else %>
    <a href ='/cities/<%= @city.country_id %>/tosee'>back to <%= @city.country.name %></a>
  <% end %>
</h6>

<h2>Edit <%= @city.name %></h2>

<form method="POST" action="/cities/<%= @city.id %>">

  <input type="hidden" name="country_id" id="country_id" value= "<%= @city.country_id%>"/>

  <label for="name">City Name:</label>
  <input type="text" name="name" id="name" value="<%= @city.name %>"/>

  <% if @city.visit_status.to_i == 0 %>
  <input type="radio" id="visited" name="visit_status" value=0 checked>
    <label for="visited">Visited</label>
    <input type="radio" id="to_visit" name="visit_status" value=1>
    <label for="to_visit">Still To See</label>
  <% else %>
  <input type="radio" id="visited" name="visit_status" value=0>
    <label for="visited">Visited</label>
    <input type="radio" id="to_visit" name="visit_status" value=1 checked>
    <label for="to_visit">Still To See</label>
  <% end %>

  <input type="submit" value="Update City Details"/>
</form>
