<h2>The Sights of <%= @city.format_name %>, <%= @country.name %></h2>
    <% @sights.each do |sight| %>
      <ul>
        <li>  <%= sight.format_name %></li>
        <li><a href="/sights/<%= sight.id %>/edit">Edit</a>
        <form action="/sights/<%= sight.id %>/delete" method="POST"><input type="submit" value="Delete"></form></li>
      </ul>
  <% end %>
    <a href="/sights/new/<%= @city.id %>" class="button">Add a city</a>
